@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #141414;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.container {
    background-color: #1f1f1f;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
img {
    border-radius: 50%;
    width: 4rem;
    margin-top: 1rem;
}
h1 {
    color: #ffffff;
    font-weight: 400;
    margin-top: 1.875rem;
    margin-bottom: 0;
}
.city {
    color: #c5f82a;
    font-weight: bold;
}
.description {
    color: #ffffff;
    margin-bottom: 1.875rem;
}
.click {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    margin-bottom: 1rem;
}
button {
    color: #ffffff;
    background: #333333;
    height: 45px;
    width: 300px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
button:hover {
    color: #1f1f1f;
    background-color: #c5f82a;
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width:375px) {
    .container {
        max-width: 320px;
        height: 480px;
    }
    img {
        max-width: 3rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    .description {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.8rem;
    }
    button {
        max-height: 33px;
    }
}